body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ddd;
}

.head{
    text-align: center;
    color: #FF4B04;
}

.container {
    padding: 50px 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    /* letter-spacing: .2em; */
    
}

.tip-area{
    color: #FF4B04;
    border-bottom: 1px dotted #FF4B04;
    position: relative;
}
.tip-area:hover{
    cursor:help;
}

.tip{
    visibility: hidden;
    position: absolute;
    width: 150px;
    text-align: center;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    background-color: #FF4B04;
    color: white;
    padding: 5px 0px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tip.active{
    visibility: visible;
    opacity: 1;
}

.tip::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border: 6px solid #ddd;
    border-top-color: #FF4B04;

}

/* Drodowns */

.dropdown{
    position: relative;
}

.dropdown .content{
    display: none;
    transition: all 0.3s;
    padding: 25px 10px;
}

.dropdown .content.active{
    display: block;
    transition: all 0.3s;

}

.dropdown .title {
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

.dropdown .title::after{
    content: "<";
    transform: rotate(-90deg) scale(0.6, 1);
    position: absolute;
    right: 15px;
    font-weight: bold;
    transition: transform 0.3s;
}

.dropdown .title.active::after{
    transform: rotate(90deg) scale(0.6, 1);
}

/* Tabbed Contents */
ul{
    padding: 0px;
}

.trigger{
    list-style-type: none;
    margin:4px 10px;
    display: inline-block;
    background-color: #ccc;
    padding: 10px;
    border-radius: 6px;
}
.trigger:hover{
    cursor:pointer;
}

.trigger.active{
    background-color: #FF4B04;
    color: white;

}

.content{
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 6px;
    display: none;
}
.content.active{
    display: block;
}

/* Toast */

.toast-section {
    position: relative;
    margin-top: 30px;
}

.toast{
    padding: 20px;
    width: 300px;
    position: fixed;
    background-color: #FF4B04;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 0px 16px 16px;
    left: 50%;
    margin-left: -170px;
    text-align: center;
    top: 0px;
    margin-top: -100px;
    transition: all 0.2s;
}

.toast.active{
    margin-top: 0px;
}

.toast-btn{
    width: 250px;
    background-color: #FF4B04;
    padding: 20px;
    color: white;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
}